Django==5.2
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.2

# Variables d'environnement (.env)
python-dotenv==1.2.2

# Interface et widgets
django-widget-tweaks==1.5.1

# Fichiers statiques (production)
whitenoise==6.12.0

# Serveur de production
waitress==3.0.2

# Base de données PostgreSQL
psycopg2-binary==2.9.12

# Export Excel
openpyxl==3.1.5
et_xmlfile==2.0.0

# Génération de PDFs
weasyprint==68.1
pydyf==0.12.1
tinycss2==1.5.1
tinyhtml5==2.1.0
cssselect2==0.9.0
webencodings==0.5.1
pyphen==0.17.2
cffi==2.0.0
pycparser==3.0
fonttools==4.63.0
brotli==1.2.0
zopfli==0.4.1

# Images
pillow==12.2.0
